<!-- <footer class="text-center text-white fixed-bottom" style="background-color: black;">

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0);">
    © 2023 Copyright :
    <a class="text-white" href="http://127.0.0.1:3000"> EventINDIA.com</a>
  </div>
</footer>

 -->

<div class="container ">
  <footer class="bg-light text-center text-dark fixed-bottom">
    <div class="text-center" style="background-color: whitesmoke">
      © 2020 Copyright:
      <a class="text-dark" href="http://127.0.0.1:3000">eventINDIA.com</a>
    </div>
  </footer>
</div>