<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright :
    <a class="text-white" href="http://127.0.0.1:3000"> EventINDIA.com</a>
  </div>
</footer>