<% if user_signed_in? && current_user.has_role?(:admin)%>

<h1>you can manage role</h1>

<ul>
  <% @users.each do|user|%>
    <li>Name: <%= user.name%></li>
    <ul>
      <li> role: <%= user.roles.map{|e| e.name} %></li>
      <li> <%= link_to "edit", edit_user_registration_path%></li>
      <li> <%= select_tag "whatever", options_for_select([user.roles.map{|e| e.name},[Role.all.pluck(:name)]], include_blank: true) %></li>
    </ul>
  <%end %>
</ul>

<% end %>