<%= stylesheet_link_tag "style"  %>
<div class="about">
	<div class="overlay"></div>
<div class="container">
	<div class="row align-items-center z-3">
		<div class="col-6">
			<div class="about_content text-light">
				<h2>About</h2>
				<p>
					Founded in 2006 with the goal of making knowledge sharing easy, Slideshare has since grown into a top destination for professional content. With over 18 million uploads in 40 content categories, it is today one of the top 100 most-visited websites in the world.
					top destination for professional content. With over 18 million uploads in 40 content categories, it is today one of the top 100 most-visited websites in the world.

				</p>
				<button class="btn btn-outline-light">Learn More</button>
			</div>
		</div>
		<div class="col-6" >
			<div class="about_img_section">
				
				<div class="about_bg_white"></div>
				<img src="<%=asset_path('about_img.jpg')%>" alt="about" class=" about_img ">
			</div>
		</div>
	</div>
</div>
</div>