<% if page.current? %>
  <li class="page-item active">
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'page-link', style: "background-color:#d1410c; border: 1px solid #d1410c;" %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link', style: "color:#d1410c;" %>
  </li>
<% end %>
